.App {
    text-align: center;
    background-color: rgba(253, 247, 250, 1);
    color: rgba(83, 107, 120, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unpaddedList {
    padding: 0%;
}

.select {
    background: 'grey';
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid rgba(99, 112, 129, 1);
    border-radius: 3px;
}

.commentForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

.header {
    /* grid-area: header; */
    background-color: rgba(99, 112, 129, 1);
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(253, 247, 250, 1);
}

.nav {
    /* border: 2px solid blue; */
    background-color: rgba(99, 112, 129, 1);
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(253, 247, 250, 1);
}

.user-displayer {
    background-color: (60, 60, 60, 1);
    min-height: 10vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(83, 107, 120, 1);
}

.main {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
}

.commentCard {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    width: 40vh;
    background-color: (60, 60, 60, 1);
    /* padding: 1rem 2rem; */
    margin: 1rem 0;
    /* box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.308); */
    background-color: rgba(253, 247, 250, 1);
}

.commentList {
    background-color: (60, 60, 60, 1);
    border: 2px solid rgba(99, 112, 129, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
    background: white;
    /* padding: 1rem 2rem; */
    margin: 1rem;
    /* box-shadow: 2px 2px 5px 0px rgba(255, 55, 166, 1); */
    background-color: rgba(253, 247, 250, 1);
}

.articleCard {
    background-color: (60, 60, 60, 1);
    border: 2px solid rgba(99, 112, 129, 1);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-height: 10vh;
    width: 40vh;
    background: white;
    padding: 1rem 2rem;
    margin: 1rem;
    /* box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.308); */
    background-color: rgba(253, 247, 250, 1);
    text-align: left;
}

.articleCard:hover {
    background: rgb(226, 226, 226);
    cursor: pointer;
}

.single-page-article {
    /* border: 2px solid rgba(99, 112, 129, 1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
    background: white;
    /* padding: 1rem 2rem; */
    margin: 1rem;
    /* box-shadow: 2px 2px 5px 0px rgba(255, 55, 166, 1); */
    background-color: rgba(253, 247, 250, 1);
}

.error-display {
    color: red;
    font-weight: bold;
    background: white;
    border: 2px dashed red;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 40vh;
}

.footer {
    background-color: rgba(99, 112, 129, 1);
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media only screen and (min-width: 600px) {
    .user-displayer {
        width: 120vh;
    }
    .main {
        width: 120vh;
    }
    .commentCard {
        width: 120vh;
    }
    .commentList {
        width: 120vh;
    }
    .articleCard {
        width: 120vh;
    }
    .single-page-article {
        width: 120vh;
    }
    .error-display {
        width: 120vh;
    }
}