/* CSS HEX */

--yellow-green: #95c623ff;
--jet: #3c3c3cff;
--chrome-yellow: #faa613ff;
--wild-strawberry: #ff37a6ff;
--red-orange-color-wheel: #f44708ff;

/* CSS HSL */

--yellow-green: hsla(78, 70%, 46%, 1);
--jet: hsla(0, 0%, 24%, 1);
--chrome-yellow: hsla(38, 96%, 53%, 1);
--wild-strawberry: hsla(327, 100%, 61%, 1);
--red-orange-color-wheel: hsla(16, 94%, 49%, 1);

/* SCSS HEX */

$yellow-green: #95c623ff;
$jet: #3c3c3cff;
$chrome-yellow: #faa613ff;
$wild-strawberry: #ff37a6ff;
$red-orange-color-wheel: #f44708ff;

/* SCSS HSL */

$yellow-green: hsla(78, 70%, 46%, 1);
$jet: hsla(0, 0%, 24%, 1);
$chrome-yellow: hsla(38, 96%, 53%, 1);
$wild-strawberry: hsla(327, 100%, 61%, 1);
$red-orange-color-wheel: hsla(16, 94%, 49%, 1);

/* SCSS RGB */

$yellow-green: rgba(149, 198, 35, 1);
$jet: rgba(60, 60, 60, 1);
$chrome-yellow: rgba(250, 166, 19, 1);
$wild-strawberry: rgba(255, 55, 166, 1);
$red-orange-color-wheel: rgba(244, 71, 8, 1);

/* SCSS Gradient */

$gradient-top: linear-gradient(0deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-right: linear-gradient(90deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-bottom: linear-gradient(180deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-left: linear-gradient(270deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-top-right: linear-gradient(45deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-bottom-right: linear-gradient(135deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-top-left: linear-gradient(225deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-bottom-left: linear-gradient(315deg, #95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);
$gradient-radial: radial-gradient(#95c623ff, #3c3c3cff, #faa613ff, #ff37a6ff, #f44708ff);